{% extends "layout.html" %}

{% block pageTitle %}
  Topics
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-draft">Back</a>
{% endblock %}

{% block content %}


  <div class="app-miller-columns govuk-checkboxes--small govuk-!-margin-top-4" tabindex="1">
    <ul id="root">
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Business and industry</label></div>
        <ul id="business-and-industry">
          <h2 class="govuk-heading-m govuk-!-margin-left-5">Step by Steps</h2>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label"><a href="">Employ someone</a></label></div></li>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label"><a href="">Get your business ready to employ staff</a></label></div></li>
          <h2 class="govuk-heading-m govuk-!-margin-left-5 govuk-!-margin-top-6">Start pages</h2>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label"><a href="">Some service name</a></label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Corporate information</label></div>
      </li>
      <li>
        <div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Crime, justice and law</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Administrative justice reform</label></div></li>
        </ul>
      </li>
      <li>
        <div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Defence and armed forces</label></div>
        <ul id="defence-and-armed-forces">
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Armed Forces Covenant</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Education, training and skills</label></div>
        <ul id="education-training-and-skills">
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Education of disadvantaged children</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Entering and staying in the UK</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Border control</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Environment</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Climate change and energy</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Going and being abroad</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">British nationals overseas</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Government</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Brexit</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Health and social care</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Autism</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Housing, local and community</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Economic development in coastal and seaside areas</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">International</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Anti-corruption</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Life circumstances</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Certificates, register offices, changes of name or gender</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Money</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Business tax</label></div></li>
        </ul>
      </li>
      <li>
        <div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Parenting, childcare and children's services</a></label></div>
        <ul id="parenting-childcare">
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Adoption, fostering and surrogacy</label></div>
            
          </li>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Childcare and early years</label></div>
          </li>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Children's health and welfare</label></div>
          </li>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Divorce, separation and legal issues</label></div>
          </li>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Financial help if you have children</label></div>
          </li>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Pregnancy and birth</label></div>
          </li>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Safeguarding and social care for children</label></div>
          </li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Regional and local government</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Devolution</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Society and culture</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Arts and culture</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Transport</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Aviation</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Welfare</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Benefits entitlement</label></div></li>
        </ul>
      </li>
      <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Work</label></div>
        <ul>
          <li><div class="govuk-checkboxes__item"><label class="govuk-label govuk-checkboxes__label">Government graduate schemes</label></div></li>
        </ul>
      </li>
    </ul>
  </div>


</div>

{% endblock %}
